@model Loja.Application.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details product";
}

<h4>@ViewData["Title"]</h4>

<div>
    <dl class="row">
        <dt class="col s3 m2 l1">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col s9 m10 l11">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col s3 m2 l1">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col s9 m10 l11">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col s3 m2 l1">
            @Html.DisplayNameFor(model => model.QuantityOnHand)
        </dt>
        <dd class="col s9 m10 l11">
            @Html.DisplayFor(model => model.QuantityOnHand)
        </dd>
    </dl>
</div>
<div>
    <a class="btn" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn waves-effect waves-light brown darken-4" asp-action="Index">Back to List</a>
</div>
